@font-face {
    font-family: 'Roboto';
    src: url('./asset/Roboto-Regular.woff2') format('woff2'),
        url('./asset/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #1F2937;
    --green: #A3B18A;
    --light-green: #a3b18a50;
    --creme: #F5F1E8;
}

body {
    background-color: antiquewhite;
}