@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

:root {
    --blue: #1F2937;
    --green: #A3B18A;
    --light-green: #a3b18a50;
    --creme: #F5F1E8;
}

body {
    background-color: antiquewhite;
}